name: Rusty CDK
on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  PROJECT_NAME: rusty-cdk

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run all tests
        run: cargo test
